<!DOCTYPE html>

<%layout('/layouts/boilerplate')%>

<div class="container" id="mainContainer">
  <div class="text-center mt-3" id="index-header">
    <h1>Welcome To SkateGrounds</h1>
    <h2>Check out these spots</h2>
  </div>

  <!-- shows all skate spots -->
  <div id="showIndex" class="container">
    <div class="row" id="cards">
      <div>
        <!-- loops through cards to be displayed  -->
        <% for (let spot of spots) {%>
        <!-- contains the row of skatespots -->
        <div class="columns" id="index-row" style="margin-top: 3px">
          <div class="card" style="width: 18rem" id="spotCard">
            <div class="card-title">
              <!-- picture that links to the skatespot page -->
              <a href="/skategrounds/<%= spot.id %>"
                ><img
                  class="card-img-top img-thumbnail"
                  id="spotImg"
                  src="<%= spot.image[0].url %>"
              /></a>
            </div>
            <!-- holds the title that links to the skatespot  -->
            <div class="card-body">
              <h5 class="card-title" id="spot-title">
                <a href="/skategrounds/<%= spot.id %>"><%=spot.title %></a>
              </h5>
              <p class="card-text" id="description"><%= spot.description %></p>
            </div>
          </div>
        </div>
        <%} %>
      </div>
    </div>
  </div>
</div>
